# coding: utf-8

"""
    RESTAPI Service

    RESTful API  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DevicehealthApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def devicehealth_get_device_healths(self, device_id, **kwargs):  # noqa: E501
        """getDeviceHealths devicehealth  # noqa: E501

        Returns up to 100 new counters from the specified device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.devicehealth_get_device_healths(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: ID of the device whose health counters should be returned (required)
        :param int last_delivered_id: ID of the oldest health counter from which to start returning samples
        :return: StoredDeviceHealthCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.devicehealth_get_device_healths_with_http_info(device_id, **kwargs)  # noqa: E501
        else:
            (data) = self.devicehealth_get_device_healths_with_http_info(device_id, **kwargs)  # noqa: E501
            return data

    def devicehealth_get_device_healths_with_http_info(self, device_id, **kwargs):  # noqa: E501
        """getDeviceHealths devicehealth  # noqa: E501

        Returns up to 100 new counters from the specified device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.devicehealth_get_device_healths_with_http_info(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: ID of the device whose health counters should be returned (required)
        :param int last_delivered_id: ID of the oldest health counter from which to start returning samples
        :return: StoredDeviceHealthCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'last_delivered_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method devicehealth_get_device_healths" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `devicehealth_get_device_healths`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_id' in params:
            path_params['deviceId'] = params['device_id']  # noqa: E501

        query_params = []
        if 'last_delivered_id' in params:
            query_params.append(('lastDeliveredId', params['last_delivered_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['jwt_header_Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/device/{deviceId}/health', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StoredDeviceHealthCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def devicehealth_get_last_device_health(self, device_id, **kwargs):  # noqa: E501
        """getLastDeviceHealth devicehealth  # noqa: E501

        Returns information about the last known health counters from the specified device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.devicehealth_get_last_device_health(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: ID of the device whose last health counters should be returned (required)
        :return: StoredDeviceHealthCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.devicehealth_get_last_device_health_with_http_info(device_id, **kwargs)  # noqa: E501
        else:
            (data) = self.devicehealth_get_last_device_health_with_http_info(device_id, **kwargs)  # noqa: E501
            return data

    def devicehealth_get_last_device_health_with_http_info(self, device_id, **kwargs):  # noqa: E501
        """getLastDeviceHealth devicehealth  # noqa: E501

        Returns information about the last known health counters from the specified device  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.devicehealth_get_last_device_health_with_http_info(device_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: ID of the device whose last health counters should be returned (required)
        :return: StoredDeviceHealthCollection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method devicehealth_get_last_device_health" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `devicehealth_get_last_device_health`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_id' in params:
            path_params['deviceId'] = params['device_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['jwt_header_Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/device/{deviceId}/lastHealth', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StoredDeviceHealthCollection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
